<div class="center hero-unit">
  <h1>Welcome to my First App</h1>
  <h2>
    This is the hope page for the <ahref="http://railstutorial.org/">Ruby on Rails Tutorial Sample App</a>
  </h2>
  <%=link_to"Sign up now!",signup_path, class:"btn btn-large btn-primary" %>
</div>
